version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: techjobs
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - techjobs-net

volumes:
  postgres_data:

networks:
  techjobs-net: